# These owners will be the default owners for everything in the repo.
*       @anmolnagpal
*       @clouddrove-ci
*       @omsharma07
*       @nikitadugar
*       @d4kverma
*       @yadavprakash
*       @themaniskshah